.home-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.template-grid {
  flex: 0 0 44.444%;
  background-color: #fbfcfe;
  border-right: 1px solid;
  border-color: rgba(191, 204, 217, 0.5);
}
/* 
button.small-icon-button {
  padding: 4px;
} */

.operations-grid {
  flex: 1;
}
.operations-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.operations-grid {
  flex: 1;
  padding: 20px;
  margin-top: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
button.small-fab {
  height: 35px;
  width: 35px;
  min-height: 35px;
}
