# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# PyInstaller build directories
/build/
/dist/

# PyInstaller spec file
*.spec

# Log files
*.log

# Virtual environment directories
venv/
env/
.venv/

# OS-specific files
.DS_Store
Thumbs.db

# Ignore any .gitignore in subfolders
!.gitignore